langchain>=0.1.0
langchain-google-genai
langchain-openai
langchain-community
langchain-huggingface
langchain-experimental
qdrant-client
sentence-transformers
pydantic-settings
python-dotenv
unstructured
loguru
fastapi
uvicorn
docling
python-multipart
langdetect
rank-bm25
